<h1>Choose Your Epicodemon</h1>
<form action="/Fillers/@Model.GetFillerId()/update" method="post">
  <label for="updateFiller">Filler Name:</label>
  <input id="updateFiller" name="updateFiller" type="text" value="@Model.GetFillerName()">
  <button type="submit">Update</button>
</form>
<form action="/Fillers/@Model.GetFillerId()/update" method="post">
  <label for="updateFiller">Filler Name:</label>
  <input id="updateFiller" name="updateFiller" type="text" value="@Model.GetFillerName()">
  <button type="submit">Update</button>
</form>
<form action="/Fillers/@Model.GetFillerId()/update" method="post">
  <label for="updateFiller">Filler Name:</label>
  <input id="updateFiller" name="updateFiller" type="text" value="@Model.GetFillerName()">
  <button type="submit">Update</button>
</form>
